<div class="header-container">
    <div class="header-subcontainer">
        <span>{{@identity.userName}}</span>
        <div class="contacts-status active"></div>
        <span>Online<span class="arrow-down"></span></span>
    </div>
</div>