<div class="history-message-container">
  <div class="history-message-inner-container">
    history message ... 
    {{#each @history as |message|}}
        <Chatwindow::Messagebubble @message={{markmessagedirection message}}/>
    {{/each}}
  </div>
</div>