<div class="history-message-container" id = "chathistory">
  <div class="history-message-inner-container">
    {{#each @history as |message|}}
        <Chatwindow::Messagebubble @message={{markMessageDirection message}}/>
    {{/each}}
  </div>
</div>