<div class="messagehistory">
    history message ... 
    {{#each @history as |allMessages|}}
      {{#each allMessages as |message|}}
        <p>{{message}}</p>
      {{/each}}
    {{/each}}
</div>