<div class="reply-container">
    <div class="reply-inner-container">
        <textarea autofocus class="reply-input" value={{@unsent}} {{on 'input' this.updateValue}} {{on 'keyup' this.checkEnter}} />
        <button class="left small" {{on 'click' this.onSend}}>Send</button>
    </div>
</div>