<div class="reply-container">
    <div class="reply-inner-container">
        <textarea autofocus class="reply-input" value={{@unsent}} {{on 'input' this.updateValue}}/>
        <button class="reply-button" {{on 'click' this.onSend}}>Send</button>
    </div>
</div>