<div class="contacts-item {{@contact.style}}" {{ on 'click' (fn this.setFocusPeople @contact.userName @contact.enable)}}>
    <div class="contacts-status {{@contact.status}}"></div>
    <span>{{@contact.userName}}</span>
</div>