<div class="contacts-nav {{this.status}}">
    {{#each  @contacts.contacts as |contact|}}
      {{#if (eq contact.userName @contacts.focused) }}
        <Contacts::Item @contact={{enableFocusStyle (addattribute contact)}}/>
      {{else}}
        <Contacts::Item @contact={{enableFocusStyle contact}}/>
      {{/if}}
    {{/each}}
</div>