<div class="contacts-nav vertical">
    {{#each  @contacts.contacts as |contact|}}
      {{#if (eq contact.userName @contacts.focused) }}
        <Contacts::Item @contact={{addattribute contact}}/>
      {{else}}
        <Contacts::Item @contact={{contact}}/>
      {{/if}}
    {{/each}}
</div>