<span>Please signIn as one of the followings</span>
<Identity::Dropdown @people={{@model}} />
<span>, then click sign in to start SoChat journey.</span>
<LinkTo @route="chatwindow" class="link">
    <button type="button" {{on "click" this.confirmIdentity}}>Sign In</button>
</LinkTo>